#page-album {
	/* border: 1px solid red; */
	display: flex;
	width: 85%;
	margin: 5% auto;
	justify-content: space-around;
}


.section-album2 {
  /* border: 1px solid blue; */
	display: flex;
	width: 30%;
	height: 400px;
	flex-direction: column;
  background-color: rgba(177, 175, 173, 0.6);
  color: white;
	border-radius: 10px;
	align-items: center;
	justify-content: space-around;
	margin-top: 5%;
}

#imagem-album {
	width: 50%;
	height: 50%;
}

.todas-musicas {
	/* border: 1px solid yellow; */
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}