@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');


#page-album {
	/* border: 1px solid red; */
	display: flex;
	width: 85%;
	margin: 5% auto;
	justify-content: space-around;
  font-family: 'Asap', sans-serif;
}


.section-album2 {
  /* border: 1px solid blue; */
	display: flex;
	width: 30%;
	height: 85%;
	flex-direction: column;
  background-color: rgba(177, 175, 173, 0.6);
  color: white;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	margin: 5%;
}

#imagem-album {
	width: 50%;
	height: 50%;
  margin: 4%;
}

#p-album-title {
  text-align: center;
}

#p-artista {
  text-align: center;
}

.envolve-carrossel {
  width: 60%;
  /* border: 1px solid green; */
  display: flex;
}

.todas-musicas {
	/* border: 1px solid yellow; */
	width: 100%;
	display: flex;
  height: 500px;
  overflow: hidden;
  box-shadow: 
        inset 0px 11px 8px -10px rgba(177, 175, 173, 0.9),
        inset 0px -11px 8px -10px rgba(177, 175, 173, 0.9); 
  border-radius: 10px;
  overflow-y: scroll;
}

.todas-musicas-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
}

.todas-musicas::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0);
  width: 15px;
  border-radius: 10px;
}

.todas-musicas::-webkit-scrollbar-thumb {
  background: rgb(204, 201, 201);
  border-radius: 10px;
  /* background-image: url('../images/lista-de-reproducao.png');
  background-size: auto; */
}

.todas-musicas::-webkit-scrollbar-thumb:hover {
  background: rgb(177, 175, 173);
}

@media (max-width: 860px) {
  #page-album {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .section-album2 {
    width: 65%;
    height: 30%;
    justify-content: center;
    align-items: center;
  }

  .envolve-carrossel {
    width: 85%;
  }

  .todas-musicas {
    width: 98%;
  }

}

@media (max-width: 480px) {
  #page-album {
    flex-direction: column;
    align-items: center;
  }

  .section-album2 {
    width: 85%;
  }

  .envolve-carrossel {
    width: 100%;
    /* border: 1px solid red; */
  }

  .todas-musicas {
    width: 100%;
    /* border: 1px solid green; */
  }

  .todas-musicas::-webkit-scrollbar {
    width: 10px;
  }
}
