@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');


#div-header {
  background-color: rgba(177, 175, 173, 0.6);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 30%;
  width: 100%;
  color: white;
}

#nav-list {
  width: 60%;
}

#links-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.item-list {
  list-style-type: none;
  text-decoration-line: none;
  font-size: 20px;
  font-family: 'Asap', sans-serif;
}

.item-list:hover {
  font-weight: 800;
}

.item-list-link {
  text-decoration: none;
  color: white;
}

#user-span {
  font-family: 'Asap', sans-serif;
}

@media (max-width: 460px) {
  #div-header {
    flex-direction: column;
  }
  
  #links-list {
    flex-direction: column;
  }

  #header-component {
    margin: 2% 0;
  }

  .item-list-link {
    border-radius: 8px;
  }

  .item-list {
    background-color: rgba(129, 129, 129, 0.6);
    margin: 1%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  .item-list:hover {
    background-color: rgba(231, 229, 229, 0.6)
  }
}