.simbolo-musica {
  display: flex;
  justify-content: space-between;
  animation-fill-mode: both;
  transform-origin: center bottom;
  font-size: 10px;
}
  
.simbolo {
  animation: move 1s infinite;
  font-size: 300%;
  color: white;
  transform: translate(-50%, -50%);
}

.simbolo:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes move {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
